<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/dishes.css">
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="icon.css">
      <link rel="stylesheet" href="style2.css">
      <link rel="stylesheet" href="responsive.css">
      <title>V S ONLINE MART</title>
    </head>
    
    <body>
      <!-- main container start-->
      <div class="mc">
  
  
  
          <header id="header">
              <nav>
                  <div class="logo">
                      <a href="#">V S ONLINE MART<span>.</span></a>
                  </div>
  
                  <ul class="navbar">
                      <li><a href="#header" data-navitem="Home">Home</a></li>
                      <li><a href="#contact" data-navitem="Contact">Contact</a></li>
                  </ul>
  
                  <div class="search-box">
                      <div class="search-icon">
                          <span class="icon-search"></span>
                      </div>
                      <input type="text" placeholder="Search...">
                  </div>
  
                  <div class="icon-links">
                      <div id="customer-center"><span class="icon-phone-alt"></span></div>
                      <div id="icon-shopping-cart"><span class="icon-cart-arrow-down"><span id="item-counter">0</span>
                      </div>
                      <div id="login-or-signup"><span class="icon-user"></div>
                  </div>
              </nav>
          </header>
          <!-- header section end -->
  
          <!-- featured products section start  -->
          <div class="featured-product" id="pricing">
              <div class="section-wrap">
                  <div class="section-title">
                      <p>ELECTRONICS</p>
                      <a href="#">See more <span class="icon-angle-double-right"></span></a>
                  </div>
  
                  <div class="featured-products">
                      <div class="product-wrap apple">
                          <div class="product-img">
                              <img
                                  src="https://c4.wallpaperflare.com/wallpaper/204/445/76/apple-macbook-on-desk-wallpaper-preview.jpg">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">18</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">Mac Book</p>
                              <p class="price">Price:<del><span>65000</span></del><ins><span>50000</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img src="http://cdn.mos.cms.futurecdn.net/YHZhCuweqmeBEcBcDHsMBk.jpg">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">20</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">Boat Headphones</p>
                              <p class="price">Price:<del><span>2599</span></del><ins><span>1999</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img
                                  src="https://i.gadgets360cdn.com/large/oneplus_10_pro_image_1641888196466.jpg?downsize=950:*">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">18</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">Oneplus 10 Pro</p>
                              <p class="price">Price:<del><span>38999</span></del><ins><span>32250</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img src="https://www.theindianwire.com/wp-content/uploads/2018/09/Apple-Watch_1.jpg">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">24</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">Apple Watch Series 3</p>
                              <p class="price">Price:<del><span>31999</span></del><ins><span>29999</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img
                                  src="https://rukminim1.flixcart.com/image/416/416/johi3680/power-bank/6/h/n/battery-pack-eb-p1100bpngin-samsung-original-imafawtybtc9zhvf.jpeg?q=70">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">22</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">Samsung Powerbank</p>
                              <p class="price">Price:<del><span>2299</span></del><ins><span>1699</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img
                                  src="http://i01.appmifile.com/webfile/globalimg/xm_event/in/a3f8b6bf96c5b5d3853c9a1cc434ac8d.jpg">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">20</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">MI Cables</p>
                              <p class="price">Price:<del><span>350</span></del><ins><span>250</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img
                                  src="https://img.dtcn.com/image/themanual/female-hairdresser-combing-and-drying-his-own-hair-in-hair-salon.jpg">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">12</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">Philips Hair Dryer</p>
                              <p class="price">Price:<del><span>1999</span></del><ins><span>1299</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img
                                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqv33JcWBSXNLqUUvf_pGbPriRtD3jgJihtA&usqp=CAU">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">10</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">JBL Speaker</p>
                              <p class="price">Price:<del><span>1899</span></del><ins><span>1399</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img
                                  src="https://www.reviews.in/wp-content/webpc-passthru.php?src=https://www.reviews.in/wp-content/uploads/DSLR-Cameras.png&nocache=1">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">18</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">Nikon Camera</p>
                              <p class="price">Price:<del><span>44999</span></del><ins><span>39,999</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img
                                  src="https://www.ubuy.co.in/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNjFrV2lQTnJpTkwuX0FDX1NMMTUwMF8uanBn.jpg">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">24</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">WIFI Router</p>
                              <p class="price">Price:<del><span>1799</span></del><ins><span>1199</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img
                                  src="https://i0.wp.com/www.mozelo.in/wp-content/uploads/2018/11/SanDisk-SDDD3-64GB-USB-3.0-BLACK-64-GB-OTG-Drive-Multicolor-Type-A-to-Micro-USB-2.jpeg">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">22</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">Sandisk Pendrive</p>
                              <p class="price">Price:<del><span>1299</span></del><ins><span>899</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img src="https://m.media-amazon.com/images/I/61id76o7VjL._SY355_.jpg">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">16</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">Noise Airpods</p>
                              <p class="price">Price:<del><span>2299</span></del><ins><span>1599</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img
                                  src="https://i.gadgets360cdn.com/large/samsung_galaxy_tab_s6_lite_side_small_1614783490436.jpg?downsize=278:209&output-quality=80">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">26</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">Samsung Tab</p>
                              <p class="price">Price:<del><span>15999</span></del><ins><span>12999</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img
                                  src="https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg,h_260,w_260/v1605191190/Croma%20Assets/Large%20Appliances/Washers%20and%20Dryers/Images/8999313768478.png">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">12</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">IFB Washing Machine</p>
                              <p class="price">Price:<del><span>51999</span></del><ins><span>45999</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
  
                      <div class="product-wrap">
                          <div class="product-img">
                              <img src="https://www.vieffetrade.eu/shop/foto_articoli/Bosch/501672/501672.jpg">
                          </div>
  
                          <div class="product-icons">
                              <div class="add-to-favorite"><span class="icon-heart"></span></div>
                              <p><span class="discount">16</span>% off</p>
                          </div>
  
                          <div class="product-description">
                              <p class="product-name">Bosch Micro Oven</p>
                              <p class="price">Price:<del><span>12999</span></del><ins><span>8999</span>RS</ins></p>
                              <div class="add-to-cart-btn">
                                  <p><span class="icon-cart-plus"></span> Add to Cart</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- featured products section end  -->
  
          <!-- shopping cart area start -->
          <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ -->
          <!-- selected and favorite product items area start -->
          <div class="shopping-cart-area" id="product-cart-area">
              <div class="shopping-cart-wrap">
                  <div class="product-cart-menu">
                      <div class="cart-menu-items">
                          <h2 id="selected-products" class="active-cart-menu">Selected Products</h2>
                          <h2 id="favorite-products">Favorite Products</h2>
                      </div>
  
                      <div class="cart-close-btn">
                          <button>Close Area</button>
                      </div>
                  </div>
  
                  <div class="cart-contents-header">
                      <div class="total-cart-items">
                          <p id="total-selected" class="active-product-counter"><strong>Total Selected: </strong><span>No
                                  item
                                  found</span></p>
                          <p id="total-favorite"><strong>Total Favorite: </strong><span>No item found</span></p>
                      </div>
  
                      <div class="buying-product-title">
                          <div class="total-buying-item">
                              <p><strong>Total Buying Items: </strong><span>0</span></p>
                          </div>
                          <div class="buy-items-button">
                              <button id="buy-items">Buy Items</button>
                          </div>
                      </div>
                  </div>
  
                  <div class="cart-contents-area shopping-cart-contents-area active-cart-content">
                      <!-- virtual selected product contents -->
                  </div>
                  <div class="cart-wishlist-area shopping-cart-contents-area">
                      <!-- virtual favorite product contents -->
                  </div>
  
              </div>
  
          </div>
          <!-- selected and favorite product items area end -->
  
          <!-- confirmation message area start -->
          <div class="remove-confirmation-message">
              <div class="remove-message-wrap">
                  <div class="remove-message-title">
                      <h2>Remove item confirmation message</h2>
                  </div>
  
                  <div class="remove-message-button">
                      <button id="remove-confirm-btn">Remove</button>
                      <button id="remove-cancel-btn">Cancel</button>
                  </div>
              </div>
          </div>
  
          <div class="popup-shadow"></div>
          <!-- confirmation message area end -->
  
          <!-- buying details/shoping cart area start -->
          <div class="buying-details-area">
              <div class="buying-details-wrap">
                  <div class="shop-title">
                      <h1>Shopping Cart</h1>
                  </div>
  
                  <div class="shopping-details-wrap">
                      <div class="shopping-details-header">
                          <div class="shopping-details">
                              <div class="shop-detail product-sl">
                                  <h2>SL No.</h2>
                              </div>
                              <div class="shop-detail product-name">
                                  <h2>Product Name</h2>
                              </div>
                              <div class="shop-detail regular-price">
                                  <h2>Regular Price</h2>
                              </div>
                              <div class="shop-detail discount">
                                  <h2>Discount</h2>
                              </div>
                              <div class="shop-detail present-price">
                                  <h2>Present Price</h2>
                              </div>
                              <div class="shop-detail product-quantity">
                                  <h2>Quantity</h2>
                              </div>
                              <div class="shop-detail total-amount">
                                  <h2>Total Price</h2>
                              </div>
                              <div class="shop-detail remove-all-btn">
                                  <button id="remove-all-items">Remove All</button>
                              </div>
                          </div>
                      </div>
  
                      <div class="shopping-details-content">
                          <!-- virtual shopping details content -->
                      </div>
                  </div>
  
                  <div class="buying-details-footer">
                      <div class="calculate-buying-details">
                          <div class="calculate-total-items">
                              <h2>Total Items: </h2>
                              <p><span>000</span></p>
                          </div>
  
                          <div class="calculate-total-weight">
                              <h2>Total Qty: </h2>
                              <p><span>000</span> qty.</p>
                          </div>
  
                          <div class="calculate-total-amount">
                              <h2>Total Amount: </h2>
                              <p><span>000</span>RS.</p>
                          </div>
                      </div>
  
                      <div class="confirm-order-button">
                          <button id="confirm-order-btn">Confirm Order</button>
                      </div>
                  </div>
              </div>
  
              <div class="close-buy-area">
                  <div id="close-buy-area-btn"></div>
              </div>
          </div>
          <!-- buying details/shoping cart area end -->
          <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ -->
          <!-- shopping cart area end -->
  
          <footer>
              <div class="flex container">
                  <div class="footer-about">
                      <h5>About Stated</h5>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
                  </div>
      
                  <div class="footer-quick-links">
                      <h5>Quick Links</h5>
                      <ul>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Services</a></li>
                          <li><a href="#">Testimonials</a></li>
                          <li><a href="#">Contact Us</a></li>
                      </ul>
                  </div>
      
                  <div class="footer-subscribe">
                      <h5>Subscribe to our Newsletter</h5>
                      <div id="subscribe-container">
                          <input type="text" placeholder="Enter Email" />
                          <button class="right-rounded">Send</button>
                      </div>
      
                      <h5 class="follow-us">Follow Us</h5>
                      <ul>
                          <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                          <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                          <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                          <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                      </ul>
                  </div>
              </div>
      
             
          </footer>
      
  
  
  
  
  
  
  
  
  
      </div>
      <!-- main container end-->
      <!-- scripts -->
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js"></script>
  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.9/scrollreveal.min.js"></script>
      <script src="./yash.js"></script>
      <!-- <script src="aa.js"></script> -->
  </body>
    
    </html>
    
    <!-- Creator info:
         -------------
         Md. Riazul Islam, Web Designer & Developer
         B.Sc In CSE, Sylhet Engineering College
         From Dhaka, Bangladesh
        --------------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="./javascripts/dishes.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.9/scrollreveal.min.js"></script>
 
    <!-- <script src="aa.js"></script> -->
</body>
</html>